.swiper {
    width: 100% !important;
}

.testimonial_wrapper {
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.testimonial {
    display: flex;
    align-items: center;
    gap: 40px;
}

.testimonial img {
    width: 400px;
    height: 200px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* border-radius: 50px; */
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content h3 {
    font-size: 35px;
    font-family: 'poppins';
}

.content h3 span {
    display: block;
    font-size: 15px;
    font-weight: 300;
}

.content p {
    padding: 20px;
    border: 1px solid rgba(131, 131, 131, 0.2);
    border-radius: 10px;
}

@media screen and (max-width:900px) {
    .testimonial {
        flex-direction: column;
        align-items: flex-start;
    }
}